@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> _userManager
@{
    string userId = _userManager.GetUserId(User);
}
@using BusinessTripAdmin.Core.ViewModels
@using BusinessTripAdmin.Infrastructure.Data.DbModels
@using BusinessTripAdmin.Infrastructure.Data.Enums
@using BusinessTripAdmin.Infrastructure.Data.Identity
@model CreateBusinessTrip
@{
    ViewData["Title"] = "Add New Business Trip";
    var countries = (List<string>)ViewBag.Countries;
    var employees = (List<EmployeeViewModel>)ViewBag.Employees;
    var organization = (Organization)ViewBag.Organization;
    ViewBag.UserId = @userId;
}

<div class="row">
    <div class="col-4">
        <div class="card card-secondary">
            <div class="card-header">
            </div>


            <form id="create" method="post">
                <div class="card-body">
                    <div class="form-group">
                        @{
                            var tripFromItems = new List<SelectListItem>();
                            tripFromItems = countries.Select(x => new SelectListItem
            {
                Text = x.ToString(),
                Value = x.ToString(),
                Selected = false
            }).ToList();
                            tripFromItems.FirstOrDefault(x => x.Value == organization.LocalCountry).Selected = true;
                        }

                        <label class="form-label">Trip From</label>
                        <select asp-for="TripFrom" asp-items="@tripFromItems" class="form-control" data-toggle="dropdown" aria-expanded="false">
                        </select>
                        <span asp-validation-for="TripFrom" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @{
                            var countriesToSelect = countries.Select(x => new SelectListItem
            {
                Text = x.ToString(),
                Value = x.ToString(),
                Selected = false
            }).ToList();
                        }
                        <label class="form-label">Trip To</label>
                        <select asp-for="TripTo" asp-items="@countriesToSelect" class="form-control" data-toggle="dropdown" aria-expanded="false" id="simpleSelect2"></select>
                        <span asp-validation-for="TripTo" class="text-danger"></span>

                    </div>

                    <div class="form-group">

                        @{
                            var tripByItems = Enum.GetValues<Transport>().ToList().Select(x => new SelectListItem
            {
                Text = x.ToString(),
                Value = x.ToString(),
                Selected = false
            }).ToList();
                        }
                        <label class="form-label">Trip By</label>
                        <select asp-for="TripBy" asp-items="@tripByItems" class="form-control" data-toggle="dropdown" aria-expanded="false">
                            Trip By
                        </select>
                        <span asp-validation-for="TripBy" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="TransportNumber" class="form-label">Transport Number</label>
                        <input asp-for="TransportNumber" class="form-control" aria-required="true" placeholder="Ticket number, Car plate number ..." />
                        <span asp-validation-for="TransportNumber" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateFrom" class="form-label">From Date</label>
                        <input asp-for="DateFrom" class="form-control" aria-required="true" placeholder="Enter from date" />
                        <span asp-validation-for="DateFrom" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="DateTo" class="form-label">To Date</label>
                        <input asp-for="DateTo" class="form-control" aria-required="true" placeholder="Enter to date" />
                        <span asp-validation-for="DateTo" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        @{
                            var employeesToSelect = employees.Select(x => new SelectListItem
            {
                Text = $"{x.FirstName} {x.MiddleName} {x.LastName}",
                Value = x.EmployeeId.ToString(),
                Selected = false
            }).ToList();
                        }
                        <label>Select Employees For Business Trip</label>
                        <select asp-for="Employees" asp-items="@employeesToSelect" class="form-control" data-toggle="dropdown" aria-expanded="false" id="ajaxMultiSelect2" multiple>
                        </select>    
                        <span asp-validation-for="Employees" class="text-danger"></span>

                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" asp-controller="BusinessTrip" asp-route-id="@userId" class="btn btn-block btn-light btn-sm">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts
{
<script src="~/lib/select2/js/select2.full.min.js"></script>
<script src="~/js/select2.js"></script>
<partial name="_ValidationScriptsPartial" />
}